<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"> 
    <!-- Tags do thymeleaf para manipular as views, quando eu quiser chamar tag do tymeleaf uso th na frente.-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
<!--    <script src="../script.js" defer></script> Defer = Por padrão ao usar o script ou uso como tag nas tags html ou uso como uma tag por ultimo-->
</head>
<body>
 	<h1>Bom dia</h1>

</body>
</html>